<% if @comments.count > 0 %>
      <%= comment.commenter %>
      <% if comment.user_id == @article.user_id %>
        <span>(author)</span>
      <% end %>
      :
      <span><%= comment.body %></span>
      </p>
<% else %>
  <p>There is no any comment</p>
<% end %>
<% if user_signed_in? && current_user.id == comment.user_id %>
  <%= link_to 'Delete comment', [comment.article, comment], class: 'delete-link', title: 'Удалить комментарий', data: { turbo_method: :delete } %>
<% end %>
