<h1>My articles</h1>
<ul>
  <% @articles.each do |article| %>
    <% if current_user.id == article.user_id %>
      <% unless article.draft? %>
        <div class="blog-posts">
            <a href="<%= edit_article_path(article) %>">
            <%= article.title %>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>
</ul>

<li> <%= link_to 'New Article', new_article_path %></li>
<li><a href="/">Home page</a></li>
<p class="mt-5 mb-3 text-muted">&copy; Severyanova 2022</p>
