@import 'bootstrap';

:root {
  --black: #000;
  --blue-steel: #4682b4;
  --midnight-black: #191970;
  --sky-blue: #9cf;
  --violet: #6a5acd;
  --white-blue: #f0f8ff;
}

.sidebar {
  background-color: var(--white-blue);
  background-image: url('dark_blue.jpeg');
  color: var(--blue-steel);
  font-family: Snell Roundhand, cursive;
  font-size: 20;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 180px;
  z-index: 1;
}

.main {
  font-family: Bradley Hand;
  margin-left: 190px;
}

.navbar {
  font-family: Bradley Hand;
  margin-left: 180px;
}

.container {
  margin: auto;
  margin-top: 0;
}

.form-container {
  width: 500px;
}

.logo {
  float: left;
  padding-top: 6px;
}

.page-current {
  color: var(--midnight-black);
  font-family: Marker Felt, fantasy;
  font-size: 20px;
}

.actions button {
  background: var(--sky-blue);
  color: var(--midnight-black);
}

header {
  background: var(--sky-blue);
  background-image: url('cosmos2.jpeg');
  min-width: 100%;
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav {
  float: center;

  ui {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: var(--violet);
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
  }

  a {
    color: var(--blue-steel);
    font-family: Marker Felt, fantasy;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: var(--white-blue);
    }
  }
}

side {
  float: left;

  li {
    color: var(--violet);
    display: inline-block;
  }

  a {
    color: var(--sky-blue);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

body {
  background-image: url('white_blue.jpeg');
}

.margin-form {
  margin-left: 30%;
}
