:root {
  --black: #000;
  --blue-steel: #4682b4;
  --midnight-black: #191970;
  --sky-blue: #9cf;
  --violet: #6a5acd;
  --white-blue: #f0f8ff;
}

.sidebar {
  background-color: var(--white-blue);
  color: var(--blue-steel);
  font-size: 20;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 180px;
  z-index: 1;
}

.main {
  margin-left: 180px;
}

.container {
  margin: auto;
  margin-top: 0;
  width: 1000px;
}

.form-container {
  width: 500px;
}

.logo {
  float: left;
}

header {
  background: var(--sky-blue);
}

header::after {
  clear: both;
  content: '';
  display: table;
}

nav {
  float: center;

  ui {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: var(--violet);
    display: inline-block;
    margin-left: 50px;
    padding-top: 15px;
  }

  a {
    color: var(--midnight-black);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: var(--black);
    }
  }
}

side {
  float: left;

  li {
    color: var(--violet);
    display: inline-block;
  }

  a {
    color: var(--midnight-black);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
