.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F0F8FF;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  font-size: 20;
  color: #4682B4;
}
.main {
    margin-left: 180px;
} 
.container {
    width: 1000px;
    margin: auto;
    margin-top: 0px;
}
.form-container {
    width: 500px;
}
.logo {
    float: left;

}
header {
    background: #99CCFF;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
nav {
    float: center;
}
nav ui {
    margin: 0;
    padding:  0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 15px;
    color: #6A5ACD;
}
nav a {
    color: #191970;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: #000;
}
side {
    float: left;
}
side li {
    display: inline-block;
    color: #6A5ACD;
} 
side a {
    color: #191970;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
