<h1>Drafts</h1>
<ul>
  <% @articles.each do |article| %>
    <% if current_user.id == article.user_id %>
      <% unless !article.draft? %>
        <div class="blog-posts">
            <a href="<%= article_path(article) %>/edit">
            <%= article.title %>
        </div>
        <br>
      <% end %>
    <% end %>
  <% end %>
</ul>
<li><a href="/articles/">To articles</a></li>
<p class="mt-5 mb-3 text-muted">&copy; Severyanova 2022</p>
