<div class='navbar'>
<header>
    <div class='container'>
        <%= image_tag 'img1.png', class: 'logo' %>
        <nav>
            <ul>
                <li><a href="/">Домашняя страница</a></li>
                <li> <%= link_to 'Ваши статьи', articles_path %></li>
                <li> <%= link_to 'Ваши черновики', drafts_path %></li>
                <li> <%= link_to 'Новая статья', new_article_path %></li>
            </ul>
        </nav>
    </div>
</header>
</div>
