<div class='sidebar'>
	
		<ul>
		<side>
		<li><%=link_to "About Me", home_about_me_path%></li>
		<li><%= link_to "Contact Me", contacts_url%></li>
		</side>
	</br>
	</br>
	</br>
			<a>Application owner: Elena Severyanova</a>
		</ul>
	
</div>